<!DOCTYPE html>
<html>
<head>
  <head>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Ovo', :media => "all" %>
   <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Muli', :media => "all" %>

    <title>Endorse Me</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
</head>

  <div class="wrapper">
    <body>
      <header>
       <h1> endorse.me</h1>
        <% if current_user %>
          <%= render 'pages/logedin' %>
        <% else %>
          <%= render 'pages/logedout' %>
        <% end %>
      </header>
      <%= yield %>
    </body>
  </div>
</html>
