<!DOCTYPE html>
<html>
<head>
  <title>RubyGettingStarted</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <body>
      <header>
        <h1>Endorse.Me</h1>
        <% if current_user %>
          <%= render 'pages/logedin' %>
        <% else %>
          <%= render 'pages/logedout' %>
        <% end %>
      </header>
      <%= yield %>
    </body>
  </div>

</body>
</html>
